
.blog-overview {
    margin: 0px 40px;
}

.blog-post {
    margin: 50px 0px 50px 0px;
    padding: 10px;
    border: 2px solid lightgray;
}

.blog-header {
}

.blog-title {
    margin: 10px 0px 0px 0px;
}

.blog-subtitle {
    font-size: 0.8em;
    margin-bottom: 10px;
}

